extends layout

block content
  <!-- just for testing the API -->
  h1= title
  p Welcome to #{title}
  button#rightRequestButton Send right API Request
  button#falseRequestButton Send false API Request
    script.
      document.getElementById('rightRequestButton').addEventListener('click', async function() {
      
        // API-Endpoint-URL
        let apiUrl = '/api/preRelease';
        
        // example JSON-Payload
        let rightJsonData ={
            "geometry": {
              "type": "Polygon",
              "coordinates": [[
                [0, 0],
                [0, 10],
                [10, 10],
                [10, 0],
                [0, 0]
              ]]
            }
          }
        
        let result = await fetch (apiUrl, {
          method: 'POST',
          headers: {"content-type": "application/json"},
          body: JSON.stringify(rightJsonData),
        })
        console.log(await result.json());
      });
      document.getElementById('falseRequestButton').addEventListener('click', async function() {
      
        // API-Endpoint-URL
        let apiUrl = '/api/classify';
        
        // example JSON-Payload
        let falseJsonData = {
          "model": "i"
        }
        
        let result = await fetch (apiUrl, {
          method: 'POST',
          headers: {"content-type": "application/json"},
          body: JSON.stringify(falseJsonData),
        })
        console.log(await result.json());
      });