extends layout

block content
  <!-- just for testing the API -->
  h1= title
  p Welcome to #{title}
  button#rightRequestButton Send right API Request
  button#falseRequestButton Send false API Request
    script.
      document.getElementById('rightRequestButton').addEventListener('click', async function() {
      
        // API-Endpoint-URL
        let apiUrl = '/api/classify';
        
        // example JSON-Payload (f.e. the demodata)
        let rightJsonData = {
          "model": "RandomForest",
          "TOI": {
            "start_date": "2023-08-01",
            "end_date": "2023-08-10"
          },
          "AOI": {
            "geometry": {
              "type": "Polygon",
              "coordinates": [
                [0, 0],
                [0, 10],
                [10, 10],
                [10, 0],
                [0, 0]
              ]
            }
          },
          "Training_Data": {
            "tbD": "xxx"
          }, 
          "Hyperparameter": {
            "tbD": "xxx"
          }, 
          "Resolution": {
            "tbD": "xxx"
          }
        }
        
        let result = await fetch (apiUrl, {
          method: 'POST',
          headers: {"content-type": "application/json"},
          body: JSON.stringify(rightJsonData),
        })
        console.log(await result.json());
      });
      document.getElementById('falseRequestButton').addEventListener('click', async function() {
      
        // API-Endpoint-URL
        let apiUrl = '/api/classify';
        
        // example JSON-Payload
        let falseJsonData = {
          "model": "i",
          "TOI": {
            start_date: "2018-05-05",
            end_date: "2025-05-05"
          }
        }
        
        let result = await fetch (apiUrl, {
          method: 'POST',
          headers: {"content-type": "application/json"},
          body: JSON.stringify(falseJsonData),
        })
        console.log(await result.json());
      });