extends layout

block content
  <!-- just for testing the API -->
  h1= title
  p Welcome to #{title}
  button#rightRequestButton Send right API Request
  button#falseRequestButton Send false API Request
    script.
      document.getElementById('rightRequestButton').addEventListener('click', async function() {
      
        // API-Endpoint-URL
        let apiUrl = '/api/classify';
        
        // example JSON-Payload (f.e. the demodata)
        let rightJsonData = {
          "model": "RandomForest",
          "TOI": {
            "start_date": "2023-08-01",
            "end_date": "2023-08-10"
          },
          "AOI": {
            "geometry": {
              "type": "Polygon",
              "coordinates": [[
                [0, 0],
                [0, 10],
                [10, 10],
                [10, 0],
                [0, 0]
              ]]
            }
          },
          "Training_Data": {
            "type": "FeatureCollection",
            "bbox": 
            [
              [
                [
                  7.630504968950532,
                  51.99573229595768
                ],
                [
                  7.630504968950532,
                  51.991188630264446
                ],
                [
                  7.636916282083121,
                  51.991188630264446
                ],
                [
                  7.636916282083121,
                  51.99573229595768
                ],
                [
                  7.630504968950532,
                  51.99573229595768
                ]
              ]
            ],
            "features": [
              {
                "type": "Feature",
                "properties": {
                  "class": "Wald"
                },
                "geometry": {
                  "coordinates": [
                    [
                      [
                        7.631496907963083,
                        51.99507684477683
                      ],
                      [
                        7.632948526030873,
                        51.99406385589654
                      ],
                      [
                        7.633190462375666,
                        51.995330088416296
                      ],
                      [
                        7.6325372342454045,
                        51.99546415799844
                      ],
                      [
                        7.631496907963083,
                        51.99507684477683
                      ]
                    ]
                  ],
                  "type": "Polygon"
                }
              },
              {
                "type": "Feature",
                "properties": {
                  "class": "Acker"
                },
                "geometry": {
                  "coordinates": [
                    [
                      [
                        7.631593682500636,
                        51.99203780937788
                      ],
                      [
                        7.632077555190222,
                        51.9912780182982
                      ],
                      [
                        7.635682406725749,
                        51.99196332062655
                      ],
                      [
                        7.634835629519472,
                        51.99270820256572
                      ],
                      [
                        7.631593682500636,
                        51.99203780937788
                      ]
                    ]
                  ],
                  "type": "Polygon"
                }
              }
            ]
          }, 
          "Hyperparameter": {
            "tbD": "xxx"
          }, 
          "Resolution": 30
        }
        
        let result = await fetch (apiUrl, {
          method: 'POST',
          headers: {"content-type": "application/json"},
          body: JSON.stringify(rightJsonData),
        })
        console.log(await result.json());
      });
      document.getElementById('falseRequestButton').addEventListener('click', async function() {
      
        // API-Endpoint-URL
        let apiUrl = '/api/classify';
        
        // example JSON-Payload
        let falseJsonData = {
          "model": "i",
          "TOI": {
            "start_date": "2018-05-05",
            "end_date": "2025-05-05"
          },
          "AOI": {
            "geometry": {
              "type": "Polygon",
              "coordinates": [[
                [0, 0],
                [0, 10],
                [10, 10],
                [10, 0],
                [0, 200]
              ]]
            }
          },
          "Training_Data": {
            "type": "FeatureCollection",
            "bbox": 
            [
              [
                [
                  7.630504968950532,
                  51.99573229595768
                ],
                [
                  7.630504968950532,
                  51.991188630264446
                ],
                [
                  7.636916282083121,
                  51.991188630264446
                ],
                [
                  7.636916282083121,
                  51.99573229595768
                ],
                [
                  7.630504968950532,
                  51.99573229595768
                ]
              ]
            ],
            "features": [
              {
                "type": "Feature",
                "properties": {
                  "class": "Wald"
                },
                "geometry": {
                  "coordinates": [
                    [
                      [
                        7.631496907963083,
                        51.99507684477683
                      ],
                      [
                        7.632948526030873,
                        51.99406385589654
                      ],
                      [
                        7.633190462375666,
                        51.995330088416296
                      ],
                      [
                        7.6325372342454045,
                        51.99546415799844
                      ],
                      [
                        7.631496907963083,
                        51.99507684477683
                      ]
                    ]
                  ],
                  "type": "Polygon"
                }
              },
              {
                "type": "Feature",
                "properties": {
                  "class": ""
                },
                "geometry": {
                  "coordinates": [
                    [
                      [
                        7.631593682500636,
                        51.99203780937788
                      ],
                      [
                        7.632077555190222,
                        51.9912780182982
                      ],
                      [
                        7.635682406725749,
                        51.99196332062655
                      ],
                      [
                        7.634835629519472,
                        51.99270820256572
                      ],
                      [
                        7.631593682500636,
                        51.99203780937788
                      ]
                    ]
                  ],
                  "type": "Polygon"
                }
              }
            ]
          }
        }
        
        let result = await fetch (apiUrl, {
          method: 'POST',
          headers: {"content-type": "application/json"},
          body: JSON.stringify(falseJsonData),
        })
        console.log(await result.json());
      });